<%- contentFor('layoutContent') %>
<h1><%= title %></h1>
<p>Welcome to <%= title %></p>
<div class="messageHolder">
<% if(user) { %>
  <div class="contentCard">
    <form method="post" action="/post-message">
      <div class="formGroup">
        <textarea cols="6" rows="6" id="postMessage" name="message" placeholder="Post your message here" required></textarea>
      </div>
      <div class="formButtons">
        <button type="submit" class="menuButton">Send message</button>
      </div>
    </form>
  </div>
<% } %>
<% if(messages && messages.length > 0)
{
  for(message of messages)
  { %>
    <div class="contentCard">
      <div class="contentCardMessage">
        <div class="messageHolder">
          <%= message.message %>
        </div>
        <div class="deleteHolder"></div>
        <div class="informationHolder">
          <div class="authorHolder">
            <% if(user && user.membership_status) { %>
              <%= message.author.first_name %> <%= message.author.last_name %>              
            <% } %>
          </div>
          <div class="timestamp"> <%= message.formatted_timestamp %></div>
        </div>
      </div>
    </div>
  <%
  }
} %>
</div>